<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="big-container">
      <nav>
        <div class="container">
          <div>
            <ul>
              <li><a href="#">Games</a></li>
              <li><a href="#">Hardware</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">News</a></li>
            </ul>
          </div>
          <div></div>
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </nav>

      <div class="background">
        <div>
          <p class="bold">
            Lorem ipsum dolors
            <br />Eldova.
          </p>

          <p class="normal">Lorem ipsum dolor sit amet</p>
        </div>
      </div>
    </div>
    <div
      style="
        width: 70%;
        margin: 100px auto;
        display: grid;
        grid-template-columns: 50% 50%;
      "
    >
      <img src="/images/2.jpg" width="500px" />
      <div style="padding-top: 50px">
        <div
          style="
            position: relative;
            left: -70px;
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            font-weight: 900;
          "
        >
          Hi,<br />
          I'm Marwa
        </div>
        <div
          style="
            margin-top: 20px;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
          "
        >
          <p style="font-weight: 500">
            Lorem ipsum dolor sit <br />
            Lorem ipsum dolor sit amet
          </p>
          <br />
          <p style="font-weight: 300">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
            officiis rem minima totam blanditiis neque inventore eligendi
            commodi ad, quidem sapiente alias laboriosam iusto natus ipsum
            architecto tempore ut voluptas. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. At distinctio harum perspiciatis. Fuga
            qui, accusantium velit eaque illum incidunt.
          </p>
        </div>
      </div>
    </div>
    <div
      style="
        margin-bottom: 100px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 45px;
        font-weight: 500;
      "
    >
      You Will Learn How To
    </div>
    <div
      style="
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto auto;
      "
      class="nested"
    >
      <div>
        <div style="color: #ffeae8">01</div>
        <div>Use Instagram to marketing your products</div>
      </div>
      <div>
        <div style="color: #ecdbff">02</div>
        <div>Use Facebook to marketing your products</div>
      </div>
      <div>
        <div style="color: #d4edee">03</div>
        <div>Design twitter to marketing your products</div>
      </div>
    </div>
    <div
      style="
        width: 90%;
        margin: 100px auto;
        height: 600px;
        background-color: #a7d1d4;
        padding: 100px 0;
        box-sizing: border-box;
        text-align: center;
      "
    >
      <div style="font-size: 50px; font-family: 'Montserrat', sans-serif">
        What People Say
      </div>
      <div
        style="
          margin-top: 70px;
          font-size: 50px;
          font-family: 'Montserrat', sans-serif;
          padding: 0 120px;
        "
      >
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem odio,
        deleniti esse maiores.
      </div>
    </div>
    <div
      style="
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        text-align: center;
        margin-bottom: 20px;
      "
    >
      © 2022 by Mohamed Asaad.
    </div>
    <script src="/js/all.min.js"></script>
  </body>
</html>
